#mrform .form-field select, #mrform .form-field input  {
    width: 35em;
}
#mrform .form-field select[multiple] {
	height: 10em;
}
#mrform .form-field input[type=radio] {
    width: 2em;
}
#mrform .form-field input.error {
    border: 1px solid #F22222;
}
.w40em {
	width: 40em;
}
.w20em {
	width: 20em;
}
.w8em {
	width: 8em;
}
.w4em {
	width: 4em;
}
.redback {
	background-color: #F42200;
}

label.error {
    color: #F22222;
    font-weight: bold;
    margin-left: 10px;
    vertical-align: middle;
}
input.required {
	border: 1px solid #22F422;
}
